<div class="d-flex justify-content-center">
  <div class="row w-75 mt-4 d-flex">
    <% if form.valid? %>
      <%= bootstrap_form_tag(url: form_results_path) do |f| %>
        <% form.get_form.each_with_index do |question, index| %>
          <% question_class = question[:trigger] ? 'd-none' : '' %>
            <div data-controller="form">
              <%= f.form_group index, label: { text: form.get_numbered_question_string(index) }, class: question_class, data: { trigger: question[:trigger] } do %>
                <% question[:answers].each_with_index do |answer, answer_index| %>
                  <% if answer[:trigger].nil? %>
                    <%= f.radio_button index, answer_index, label: answer[:text], data: { name: index } %>
                  <% else %>
                    <%= f.radio_button index, answer_index, label: answer[:text], data: { target: "form.radio", action: "click->form#toggle", trigger: answer[:trigger], name: index } %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
        <% end %>
        <%= f.submit I18n.t("global.submit") %>
      <% end %>
    <% end %>
  </div>
</div>
