<div class="d-flex justify-content-center">
  <div class="row w-75 mt-4 d-flex">
    <div class="col-12 d-flex align-items-center pb-3">
      <h1 class="font-weight-light"><%= I18n.t("global.menu.contact") %></h1>
    </div>
  </div>
</div>
<div class="ml-4 mr-4 d-flex justify-content-center">
  <div class="row">
    <div class="col-md-6">
      <div class="card mt-4">
        <%= inline_svg_pack_tag(I18n.t("config.logo_path"), class: 'card-img-top') %>
        <div class="card-body">
          <h5 class="card-title"><strong><%= I18n.t('config.organization_name') %></strong></h5>
        </div>
        <div class="card-footer">
          <%= TextHandler.new.process_social_media_buttons %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="d-flex justify-content-center mt-4">
        <%= render 'contact_form' %>
      </div>
    </div>
  </div>
</div>