<div class="d-flex justify-content-center">
  <div class="row w-75 mt-4 d-flex">
    <div class="col-12 d-flex align-items-center pb-3">
      <h1 class="font-weight-light"><%= I18n.t("global.menu.form") %></h1>
    </div>
    <% form = FormService.new %>
    <% if form.valid? %>
      <% form.get_form_sequence.each do |index| %>
        <% if form.valid_answer?(params, index) %>
          <% answer_index = form.get_answer_index(params, index) %>
          <div class="form-group w-100 mb-2">
            <p><strong><%= form.get_numbered_question_string(index) %></strong></p>
            <p><%= form.get_answer_string_with_score(index, answer_index) %></p>
          </div>
        <% end %>
      <% end %>
      <% form.get_score(params) %>
      <div class="form-group w-100 mb-2">
        <p><%= form.get_score_string %></p>
      </div>
      <% form.get_subscores.keys.each do |key| %>
        <div class="form-group w-100 mb-2">
          <p><%= form.get_subscore_string(key) %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
