<div class="container mt-2 mb-2">
  <h1 class="font-weight-light"><%= I18n.t("global.menu.users") %></h1>
  <div class="row ">
    <div class="col-md-6 col-sm-12">
      <%= label_tag 'name', "Search by name:" %>
      <%= text_field_tag 'name', session[:name_query], class: "form-control", placeholder: "John Doe", data: {reflex: "input->UsersReflex#search_by_name"} %>
    </div>
    <div class="col-md-6 col-sm-12">
      <%= label_tag 'group', "Search by group:" %>
      <%= text_field_tag 'group', session[:group_query], class: "form-control", placeholder: "Group name", data: {reflex: "input->UsersReflex#search_by_groups"}  %>
    </div>
    <div class="col-md-6 col-sm-12 mt-2">
      <%= label_tag 'phone', "Search by phone number:" %>
      <%= text_field_tag 'phone', session[:phone_number_query], class: "form-control", placeholder: "0123456789", data: {reflex: "input->UsersReflex#search_by_phone"} %>
    </div>
    <div class="col-md-6 col-sm-12 mt-2">
      <%= label_tag 'email', "Search by email:" %>
      <%= text_field_tag 'email', session[:email_query], class: "form-control", placeholder: "johndoe@gmail.com", data: {reflex: "input->UsersReflex#search_by_email"}  %>
    </div>
    <div class="col-md-6 col-sm-12 mt-2">
      <%= label_tag 'group', "Reset filters" %>
      <%= button_tag 'Reset', class: "btn btn-danger", data: {reflex: "click->UsersReflex#reset_filters"}  %>
    </div>
  </div>
</div>

<!--If there are users-->
<div>
  <!-- Only viewable on desktop and larger-->
  <div class="w-90 mx-auto d-none d-lg-block">
    <table class="table table-sm table-hover table-striped">
      <thead class="border">
      <tr class="bg-secondary text-center">
        <th scope="col" class="border border-primary">Name</th>
        <th scope="col" class="border border-primary">Email</th>
        <th scope="col" class="border border-primary">Phone Number</th>
        <th scope="col" class="border border-primary">Groups</th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr class="border">
          <td><%= user.full_name %></td>
          <td><%= user.email %></td>
          <td><%= user.phone_number %></td>
          <td><%= list_users_groups(user) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <!-- Only viewable below desktop -->

  <div class="d-lg-none d-xl-none">
    <div class="row no-gutters">
      <% @users.each do |user| %>
        <div class="col-sm-12 col-md-6 p-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= user.full_name %></h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
