<div class="full-page d-flex justify-content-center align-items-center sessions-background">
  <div class="m-4 shadow w-md-75 h-75 justify-content-center align-items-center bg-light" data-controller="tabs">
    <div class="row no-gutters p-2 w-md-75 tabs">
      <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" data-target="tabs.tab" data-action="click->tabs#change">Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-target="tabs.tab" data-action="click->tabs#change">CSV</a>
      </li>
    </ul>
    </div>
    <div class="row no-gutters p-2 w-md-75">
      <div class="tab" data-target="tabs.panel">
        <%= bootstrap_form_for user, url: users_create_path do |f| %>
          <h3 class="font-weight-light mb-1"><%= t '.form' %></h3>
          <h4 class="font-weight-lighter"><%= t '.form_prompt' %></h4>
          <hr />
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <%= f.text_field :first_name, label_as_placeholder: true, input_group_class: 'input-group-lg' %>
            </div>
            <div class="col-md-6 col-xs-12">
              <%= f.text_field :last_name, autofocus: true, label_as_placeholder: true, input_group_class: 'input-group-lg' %>
            </div>
            <div class="col-md-6 col-xs-12">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", label_as_placeholder: true, input_group_class: 'input-group-lg' %>
            </div>
            <div class="col-md-6 col-xs-12">
              <%= f.text_field :phone_number, autofocus: true, label_as_placeholder: true, input_group_class: 'input-group-lg' %>
            </div>
            <div class="col-md-6 col-xs-12">
              <%= f.form_group :role, label: { text: I18n.t("users.role") } do %>
                <%= f.radio_button :role, "user", label: I18n.t("global.user"), checked: true %>
                <%= f.radio_button :role, "moderator", label: I18n.t("global.menu.moderator") %>
              <% end %>
            </div>
          </div>
          <%= f.submit "Submit Form" %>
          <%= link_to 'Back', users_path, class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="tab" data-target="tabs.panel">
        <%= bootstrap_form_tag(url: users_create_path) do |f| %>
          <h3 class="font-weight-light mb-1"><%= t '.csv' %></h3>
          <h4 class="font-weight-lighter"><%= link_to t('.csv_prompt'), '/sample.csv' %></h4>
          <hr />
          <div data-controller="upload">
          <%= f.file_field :file, data: {target: 'upload.file', action: 'change->upload#update'}, accept: '.csv'%>
          </div>
          <%= f.submit "Submit CSV" %>
          <%= link_to 'Back', users_path, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>