<h2>Create new user</h2>

<%= form_with(url: admin_user_create_path) do |f| %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, :required => true %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, :required => true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.phone_field :phone_number, autocomplete: "phone" %>
    <br />
    <em>in 1234567890 format</em>
  </div>

  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>