<div class="row">
  <div class="col-md-6 col-sm-12">
    <%= label_tag 'group_name', I18n.t('groups.index.filters.search_by_name.label') %>
    <%= text_field_tag 'group_name', session[:group_name_query], class: "form-control", placeholder: I18n.t('groups.index.filters.search_by_name.placeholder'), data: {reflex: "input->GroupsReflex#search_by_name"} %>
  </div>
  <div class="col-md-6 col-sm-12 mt-2 mt-sm-0">
    <%= label_tag 'user_name', I18n.t('groups.index.filters.search_by_user.label') %>
    <%= text_field_tag 'user_name', session[:user_name_query], class: "form-control", placeholder: I18n.t('groups.index.filters.search_by_user.placeholder'), data: {reflex: "input->GroupsReflex#search_by_user"} %>
  </div>
  <div class="col-md-6 col-sm-12 mt-2">
    <%= label_tag 'group', I18n.t('groups.index.filters.reset.label') %>
    <%= button_tag I18n.t('groups.index.filters.reset.button'), class: "btn btn-danger", data: {reflex: "click->GroupsReflex#reset_filters_reflex"}  %>
  </div>
</div>