<div class="card mt-2">
  <div class="card-header">
    <div class="no-gutters row d-flex align-items-center">
      <%= icon('fa', icon,  class: "m-1") %>
      <div class="ml-2"><%= event.eventType.capitalize %></div>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title"><strong><%= get_event_html_title(event) %></strong></h5>
    <%= get_event_html_body(event, get_attending_counts(event), false) %>
    <div class="no-gutters flex-row d-flex flex-column flex-md-row align-items-md-center align-items-start justify-content-between mt-2">
      <div class="mt-2">
        <%= get_event_html_buttons(event, false) %>
      </div>
      <% if user_invited?(event) && event.event? %>
        <%= button_to user_attending?(event) ? I18n.t('global.attending') : I18n.t('global.not_attending'), toggle_attending_path(event_id: event.id), class: "btn #{user_attending?(event) ? "btn-success" : "btn-danger"} mt-2" %>
      <% end %>
    </div>
  </div>
</div>