<div class="full-page d-flex justify-content-center align-items-center sessions-background">
  <div class="m-4 shadow w-md-75 h-75 row no-gutters justify-content-center align-items-center bg-light">
    <div class="p-2 w-md-75">
      <%= bootstrap_form_for(@event) do |f| %>
        <h3 class="font-weight-light mb-1"><%= title %></h3>
        <h4 class="font-weight-lighter"><%= prompt %></h4>
        <hr />
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <%= f.text_field :title, label: I18n.t("events.title"), autofocus: true, label_as_placeholder: true, input_group_class: 'input-group-lg' %>
            <%= f.text_area :description, label: I18n.t("events.description"), autofocus: true, label_as_placeholder: true, input_group_class: 'input-group-lg' %>
          </div>
          <div class="col-md-6 col-xs-12">
            <%= f.form_group :eventType, label: { text: I18n.t("events.type") } do %>
              <%= f.radio_button :eventType, "event", label: I18n.t("events.event"), checked: true %>
              <%= f.radio_button :eventType, "info", label: I18n.t("events.info") %>
              <%= f.radio_button :eventType, "message", label: I18n.t("events.message") %>
            <% end %>
          </div>

          <% select_group_vals = [] %>

          <% Group.all.select {|group| group.visible == true }.each do |group| %>
            <% val_label = group.name %>

            <% if !group.blank? && !group.users.blank? %>
              <% val_label += " <span class='badge'><i class='fa fa-user-circle' aria-hidden='true'></i> #{group.users.count} users</span>" %>

              <% if group.users.count > 0 %>
                <% select_group_vals.push([val_label, "g" + group.id.to_s]) %>
              <% end %>
            <% end %>
          <% end %>

          <% select_user_vals = [] %>
          <% id_vals = [] %>

          <% User.all.select {|user| !user.admin}.each do |user| %>
            <% val_label = get_full_name(user) %>

            <% unless user.phone_number.blank? %>
              <% val_label += " <span class='badge'><i class='fa fa-phone-square' aria-hidden='true'></i> #{user.phone_number}</span>" %>
            <% end %>

            <% unless user.email.blank? %>
              <% val_label += " <span class='badge'><i class='fa fa-envelope-square' aria-hidden='true'></i> #{user.email}</span>" %>
            <% end %>

            <% select_user_vals.push([val_label, user.id.to_s]) %>
            <% id_vals.push(user.id.to_s) %>
          <% end %>

          <% selected_vals = [] %>

          <% unless @event.group.blank? %>
            <% @event.group.users.each do |user| %>

              <% if id_vals.include? user.id.to_s %>
                <%  selected_vals.push(user.id.to_s)  %>
              <% end %>
            <% end %>
          <% end %>

          <p hidden id="selected_vals"><%= selected_vals %></p>

          <% select_group_vals.sort_by!{ |u| u } %>
          <% select_user_vals.sort_by!{ |u| u } %>
          <% select_vals = select_group_vals.concat(select_user_vals) %>

          <div class="col-12" data-controller="group">
            <%= f.select :group, select_vals, {hide_label: true}, {class: "selectpicker", multiple: "", "title": I18n.t("global.menu.users") + "/" + I18n.t("global.menu.groups"), data: {"style": "", "styleBase": "form-control", "width":"200px", "live-search": "true", "show-subtext": "true", "actions-box": "true", target: 'group.dropdown'}} %>
          </div>

          <div class="col-12">
            <%= f.text_field :location, label: I18n.t("events.location"), autofocus: true, label_as_placeholder: true, input_group_class: 'input-group-lg' %>
          </div>
          <div class="col-md-6 col-xs-12">
            <%= f.date_field :startDate, autofocus: true, label_as_placeholder: true, input_group_class: 'input-group-lg' %>
          </div>
          <div class="col-md-6 col-xs-12">
            <%= f.time_field :startTime, autofocus: true, label_as_placeholder: true, input_group_class: 'input-group-lg' %>
          </div>
          <div class="col-md-6 col-xs-12">
            <%= f.date_field :endDate, autofocus: true, label_as_placeholder: true, input_group_class: 'input-group-lg' %>
          </div>
          <div class="col-md-6 col-xs-12">
            <%= f.time_field :endTime, autofocus: true, label_as_placeholder: true, input_group_class: 'input-group-lg' %>
          </div>
          <div class="col-12">
            <%= f.check_box :published, label: I18n.t("events.published") + "?", autofocus: true, label_as_placeholder: true, input_group_class: 'input-group-lg' %>
          </div>
        </div>
        <%= f.submit I18n.t("global.submit") %>
        <% if @event.valid? %>
        <%= link_to I18n.t("global.show"), @event, class: "btn btn-primary" %>
        <% end %>
        <%= link_to I18n.t("global.back"), events_path, class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>
</div>