<div class="full-page d-flex justify-content-center align-items-center sessions-background">
  <div class="m-4 shadow w-md-75 h-75 row no-gutters justify-content-center align-items-center bg-light">
    <div class="p-2 w-md-75">
      <%= bootstrap_form_for(@event) do |f| %>
        <h3 class="font-weight-light mb-1"><%= title %></h3>
        <h4 class="font-weight-lighter"><%= prompt %></h4>
        <hr />
        <div class="row">
          <div class="col-12">
            <%= f.text_field :title, label: I18n.t("events.title"), autofocus: true, label_as_placeholder: true, input_group_class: 'input-group-lg' %>
          </div>

          <div class="col-12">
            <%= f.text_area :description, label: I18n.t("events.description"), autofocus: true, label_as_placeholder: true, input_group_class: 'input-group-lg' %>
          </div>

          <div class="col-12">
            <%= f.text_field :location, label: I18n.t("events.location"), autofocus: true, label_as_placeholder: true, input_group_class: 'input-group-lg' %>
          </div>

          <div class="col-12">
            <% select_vals, selected_vals = get_select_vals(true) %>

            <p hidden id="selected_vals"><%= selected_vals %></p>

            <div data-controller="group" data-action="resize@window->group#setSelectPickerFilterWidth">
              <%= f.select :users, select_vals, {hide_label: true}, {class: "selectpicker", multiple: "", "title": I18n.t("global.menu.users") + "/" + I18n.t("global.menu.groups"), data: {"styleBase": "form-control", "width":"100%", "live-search": "true", "show-subtext": "true", "actions-box": "true", target: 'group.dropdown'}} %>
            </div>
          </div>

          <div class="col-md-6 col-xs-12">
            <%= f.date_field :startDate, autofocus: true, label_as_placeholder: true, input_group_class: 'input-group-lg' %>
            <%= f.date_field :endDate, autofocus: true, label_as_placeholder: true, input_group_class: 'input-group-lg' %>
          </div>
          <div class="col-md-6 col-xs-12">
            <%= f.time_field :startTime, autofocus: true, label_as_placeholder: true, input_group_class: 'input-group-lg' %>
            <%= f.time_field :endTime, autofocus: true, label_as_placeholder: true, input_group_class: 'input-group-lg' %>
          </div>

          <div class="col-md-6 col-xs-12">
            <%= f.form_group :eventType, label: { text: I18n.t("events.type") } do %>
              <%= f.radio_button :eventType, "event", label: I18n.t("events.event"), checked: true %>
              <%= f.radio_button :eventType, "info", label: I18n.t("events.info") %>
              <%= f.radio_button :eventType, "message", label: I18n.t("events.message") %>
            <% end %>
          </div>

          <div class="col-md-6 col-xs-12">
            <%= f.form_group label: { text: I18n.t("users.contact_preferences") } do %>
              <%= f.check_box :use_email, label: I18n.t("global.email") %>
              <%= f.check_box :use_text, label: I18n.t("global.text") %>
              <%= f.check_box :use_call, label: I18n.t("global.call") %>
              <%= f.check_box :use_app, label: I18n.t("global.inapp") %>
              <% unless @event.errors[:use_email].empty? %>
                <p class="invalid-feedback d-block mt-1"><%= @event.errors[:use_email].first %></p>
              <% end %>
            <% end %>
          </div>

          <div class="col-12">
            <%= f.form_group do %>
              <%= f.check_box :published, custom: :switch, control_class: "text-secondary", label: I18n.t("events.published") %>
            <% end %>
          </div>

        </div>
        <div class='btn-group mb-1' role='group'>
          <%= f.submit I18n.t("global.submit") %>
          <% if @event.valid? %>
          <%= link_to I18n.t("global.show"), @event, class: "btn btn-primary" %>
          <% end %>
          <%= link_to I18n.t("global.back"), events_path, class: "btn btn-primary" %>
        </div>
    <% end %>
    </div>
  </div>
</div>