<p id="notice"><%= notice %></p>

<h1>Events</h1>
<% if current_user && current_user.admin %>
  <%= link_to 'New Event', new_event_path, class: "btn btn-secondary" %>
<% end %>
<% @events.each do |event| %>
  <div class="col-sm-6">
    <div class="card" style="width: 18rem;">
      <!--img class="card-img-top" src="..." alt="Card image"-->
      <div class="card-body">
        <h5 class="card-title"><%= event.title %><span class="badge badge-primary ml-1"><%= event.eventType %></span></h5>
        <p class="card-text"><%= event.description %></p>
        <p class="card-text"><%= event.startDate %> <%= event.startTime %></p>
        <p class="card-text"><%= event.endDate %> <%= event.endTime %></p>
        <p class="card-text"><%= event.location %></p>
        <%= link_to 'Show', event, class: "btn btn-primary"%>
        <% if current_user && current_user.admin %>
          <%= link_to 'Edit', edit_event_path(event), class: "btn btn-primary" %>
          <%= link_to 'Destroy', event, class: "btn btn-primary", method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>