<div class="full-page-lg-nav no-gutters flex-row d-flex flex-column-reverse flex-xl-row">
  <%= content_tag :div, class: "col-12 #{form_configured? ? "col-xl-9 " : "" } p-4" do %>
    <%= render 'event_navigation', current_page: :events %>
    <% if moderator_signed_in?(current_user) %>
      <%= render 'shared/page_header', path: new_event_path, page_title: I18n.t("global.menu.events") %>
    <% end %>
    <%= render 'events_list', icon: "calendar-alt", type: I18n.t('global.event').pluralize %>
  <% end %>
  <%= render 'sidebar' %>
</div>
