<h1>Events</h1>
<% if current_user && current_user.admin %>
  <%= link_to 'New Event', new_event_path, class: "btn btn-secondary" %>
  <% visible_events = @events %>
<% else %>
  <% visible_events = @events.select {|event| event.group.users.exists?(current_user.id) && event.published && !event.message?} %>
<% end %>
<% visible_events.each do |event| %>
  <div class="col-sm-6">
    <div class="card w-75">
      <div class="card-body">
        <h5 class="card-title"><strong><%=I18n.t("events.title") %>:</strong> <%= event.title %> <span class="badge badge-primary ml-1"><%= event.eventType %></span></h5>
        <p class="card-text"><strong><%=I18n.t("events.description") %>:</strong> <%= event.description %></p>
        <p class="card-text"><strong><%=I18n.t("events.when") %>:</strong> <%= get_when_text(event) %></p>
        <p class="card-text"><strong><%=I18n.t("events.where") %>:</strong> <%= event.location %></p>
        <% attending = get_attending_counts(event) %>
        <% if current_user && !current_user.admin && event.event? %>
          <% membership = GroupMembership.find_by(user_id: current_user.id, group_id: event.group.id) %>
          <p class="card-text"><i class='fa fa-user-circle' aria-hidden='true'></i> <%= (membership.attending?) ? "You and #{attending-1}" : "#{attending}" %> others attending</p>
          <p>
            <%= link_to (membership.attending? ? unattend_event_path(event) : attend_event_path(event)), method: :post do %>
              <%= check_box_tag "Attending", true, membership.attending?, id: "attendCheck" %>
              <label class="form-check-label" for="attendCheck">
                Attending
              </label>
            <% end %>
          </p>
        <% elsif current_user && current_user.admin %>
          <% if event.event? %>
            <p class="card-text"><i class='fa fa-user-circle' aria-hidden='true'></i> <%= "#{attending}" %> attending</p>
          <% end %>
          <%= link_to 'Edit', edit_event_path(event), class: "btn btn-primary" %>
          <%= link_to 'Destroy', event, class: "btn btn-primary", method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        <%= link_to 'Show', event, class: "btn btn-primary"%>
      </div>
    </div>
  </div>
<% end %>