<div class="row">

  <div class="column">
    <h2>Create new user via form</h2>
    <%= form_with(url: admin_user_create_path) do |f| %>

      <div class="field">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, :required => true %>
      </div>

      <div class="field">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, :required => true %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :phone_number %><br />
        <%= f.phone_field :phone_number, autocomplete: "phone", :pattern => '\d{10}' %>
        <br />
        <em>in 1234567890 format</em>
      </div>

      <div class="actions">
        <%= f.submit "Submit Form" %>
      </div>
    <% end %>

  </div>

  <div class="column">
    <h2>Create new users via CSV</h2>
    <p><%= link_to "Click here for a user CSV template!", "/sample.csv" %></p>
    <%= form_with(url: admin_user_create_path) do |f| %>

      <%= f.label :file %>
      <%= f.file_field :file %>

      <div class="actions">
        <%= f.submit "Submit CSV" %>
      </div>
    <% end %>
  </div>
</div>