<%= form_with(url: admin_event_modify_path) do |f| %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :required => true, :value => event.title.blank? ? "" : event.title %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :required => true, :value => event.description.blank? ? "" : event.description %>
  </div>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_field :date, autocomplete: "date", :value => event.date.blank? ? "" : event.date %>
  </div>

  <div class="field">
    <%= f.label :time %><br />
    <%= f.time_field :time, autocomplete: "time", :value => event.time.blank? ? "" : event.time.strftime("%H:%M") %>
  </div>

  <div class="field">
    <%= f.label :tag %><br />
    <%= f.text_field :tag, :required => true, :value => event.tag.blank? ? "" : event.tag %>
  </div>

  <div class="field">
    <%= f.label :to %><br />
    <%= f.text_field :to, :required => true, :value => event.to.blank? ? "" : event.to %>
  </div>

  <div class="field">
    <%= f.label :published %><br />
    <%= f.check_box :published, :value => if event.published.blank?
                                                               0
                                                             else
                                                               event.published ? 1 : 0
                                                             end %>
  </div>

    <%= f.hidden_field :id, :value => event.id.blank? ? -1 : event.id %><br />

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>