<p>Hi <%= user.first_name %>, you have a new email from <%= t 'global.organization_name' %>!</p>

<p><%= get_event_action_prefix(is_being_updated, is_being_deleted) %> <%= event.eventType %>:</p>

<p><%= get_event_text_params(event, true).html_safe%></p>

<% unless is_being_deleted %>

  <% if event.event? || event.info? %>
    <p><%=  link_to 'More information', event_url(event) %></p>
  <% end %>

  <% if event.event?  %>
    <p><%= is_being_updated ? "If you haven't already, you" : "You" %> can confirm your attendance through the links below:</p>

    <p><%= link_to 'Attend this event', attend_event_url(event) %></p>
    <p><%= link_to 'Decline this event', unattend_event_url(event) %></p>
  <% end %>
<% end %>