<p><%= I18n.t('devise.mailer.intro_prompt_welcome', name: @resource.first_name, organization_name: I18n.t('global.organization_name')) %></p>

<p><%= I18n.t('devise.mailer.body', password: @resource.password) %></p>

<p><%= I18n.t('devise.mailer.new_prefix') %> <%= I18n.t('devise.mailer.link_prompt', state: I18n.t('devise.mailer.email')) %></p>

<p><%= link_to I18n.t('devise.mailer.link', state: I18n.t('devise.mailer.email')), confirmation_url(@resource, confirmation_token: @token) %></p>
