<!DOCTYPE html>
<html>
  <head>
    <title><%= I18n.t("config.organization_name") %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag asset_path('favicon.svg', type: 'images'), :rel => 'icon', :type => 'image/svg' %>
    <%= favicon_link_tag asset_path('favicon.png', type: 'images'), :rel => 'apple-touch-icon', :type => 'image/png' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

  <body>
    <% unless ["registrations", "sessions"].include?(controller_name) && !["index", "show", "moderators"].include?(action_name) %>
      <%= render "shared/header" %>
    <% end %>
    <%= toastr_flash %>
    <%= yield %>
  </body>
</html>
