<!DOCTYPE html>
<html>
  <head>
    <title><%= I18n.t("global.organization_name") %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

  <body>
    <% unless ["registrations", "sessions"].include?(controller_name) && !["index", "show"].include?(action_name) %>
      <%= render "shared/header" %>
    <% end %>
    <%= toastr_flash %>
    <%= yield %>
  </body>
</html>
